* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}

body {
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header .top-panel {
  border-bottom: 1px solid #b3b3c0;
  width: 100%;
}
.header .top-panel .top-panel-content {
  display: flex;
  justify-content: flex-start;
}
.header .top-panel .top-panel-content .row-fluid {
  height: 50px;
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .top-panel .top-panel-content .row-fluid .language {
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 10px;
  border-right: 1px solid #b3b3c0;
}
.header .top-panel .top-panel-content .row-fluid .language span {
  font-size: 10px;
  display: flex;
  align-items: center;
}
.header .top-panel .top-panel-content .row-fluid .language span img {
  margin: 0 0 0 6px;
  width: 10px;
  height: 10px;
}
.header .top-panel .top-panel-content .row-fluid .text-links {
  display: flex;
  gap: 70px;
}
.header .top-panel .top-panel-content .row-fluid .text-links li a {
  color: #b3b3c0;
  font-size: 10px;
}
.header .top-panel .top-panel-content .row-fluid .search {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  border-left: 1px solid #b3b3c0;
}
.header .center-panel {
  margin-top: 40px;
  width: 100%;
}
.header .center-panel .center-panel-content {
  display: flex;
  justify-content: flex-start;
}
.header .center-panel .center-panel-content .row-fluid {
  width: 50%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .center-panel .center-panel-content .row-fluid .icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .center-panel .center-panel-content .row-fluid .icons img {
  border: 1px solid #b3b3c0;
  border-radius: 100%;
  padding: 8px;
  cursor: pointer;
}
.header .center-panel .center-panel-content .row-fluid .icons button {
  font-size: 12px;
  border: 1px solid #b3b3c0;
  color: #b3b3c0;
  padding: 12px 28px;
  background: transparent;
  border-radius: 25px;
  cursor: pointer;
}
.header .center-panel .center-panel-content .row-fluid .main-img img {
  width: 160px;
  height: 55px;
  cursor: pointer;
}
.header .main-menu {
  margin-top: 40px;
  width: 100%;
  background: #7776e5;
}
.header .main-menu .main-menu-content {
  display: flex;
  justify-content: center;
}
.header .main-menu .main-menu-content .menu {
  display: flex;
  align-items: center;
}
.header .main-menu .main-menu-content .menu li {
  padding: 13px 16px;
}
.header .main-menu .main-menu-content .menu li .active {
  padding: 13px 5px;
  color: #7776e5;
  background: #FFF;
  border-radius: 23px;
}
.header .main-menu .main-menu-content .menu li a {
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #FFF;
}/*# sourceMappingURL=Header.css.map */