.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: lato;
  margin-top: 20px;
}
.main .main-banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .main-banner-container .textContent {
  width: 30%;
}
.main .main-banner-container .textContent h1 {
  font-size: 38px;
  margin: 0 0 15px;
}
.main .main-banner-container .textContent p {
  width: 600px;
  padding: 6px 0;
  line-height: 1.9;
  color: #7d7d83;
}
.main .main-banner-container .textContent button {
  margin: 28px 0 20px;
  padding: 12px 20px;
  background: #7776e5;
  border-radius: 40px;
  border: 0;
}
.main .main-banner-container .textContent button a {
  color: #FFF;
}
.main .main-banner-container img {
  width: 468px;
  height: 328px;
}
.main .main-category_container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.main .main-category_container .main-category {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .main-category_container .main-category .swiper-wrapper {
  display: flex;
}
.main .main-category_container .main-category .swiper-wrapper .swiper-slide {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 11px;
  width: 370px;
  height: 105px;
}
.main .main-category_container .main-category .swiper-wrapper .swiper-slide img {
  padding: 15px;
}
.main .main-category_container .main-category .swiper-wrapper .swiper-slide .about {
  font-family: Lato;
}
.main .main-category_container .main-category .swiper-wrapper .swiper-slide .about h2 {
  font-size: 18px;
}
.main .main-category_container .main-category .swiper-wrapper .swiper-slide .about p {
  color: #7d7d83;
  font-size: 12px;
  margin: 6px 0 11px;
}
.main .main-category_container .main-category .swiper-wrapper .swiper-slide .about p span {
  font-size: 16px;
  color: #7776e5;
}
.main .homepage-container {
  background: #f4f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .homepage-container .homepage h2 {
  padding: 45px 0 18px;
  font-size: 16px;
  font-family: Lato;
}
.main .homepage-container .homepage .row-fluid {
  display: flex;
  gap: 15px;
}
.main .homepage-container .homepage .row-fluid .box {
  margin-top: 45px;
  background: #FFF;
  width: 230px;
  height: 340px;
  position: relative;
  display: flex;
  flex-direction: column;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.main .homepage-container .homepage .row-fluid .box img {
  margin-top: 10px;
  width: 210px;
  height: 210px;
}
.main .homepage-container .homepage .row-fluid .box .textContent {
  text-align: center;
}
.main .homepage-container .homepage .row-fluid .box .textContent span {
  font-size: 9px;
  position: absolute;
  top: 14px;
  left: 8px;
  background: #7776e5;
  color: #FFF;
}
.main .homepage-container .homepage .row-fluid .box .textContent p {
  margin-top: 5px;
  font-size: 14px;
  text-wrap: wrap;
}
.main .homepage-container .homepage .row-fluid .box .textContent #price {
  position: absolute;
  top: 80%;
  left: 33%;
  color: #7776e5;
  border: 1px solid #7776e5;
  border-radius: 40px;
  padding: 8px;
}/*# sourceMappingURL=Section.css.map */