.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: lato;
  margin-top: 20px;

  .main-banner-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .textContent {
      width: 30%;

      h1 {
        font-size: 38px;
        margin: 0 0 15px;
      }

      p {
        width: 600px;
        padding: 6px 0;
        line-height: 1.9;
        color: #7d7d83;
      }

      button {
        margin: 28px 0 20px;
        padding: 12px 20px;
        background: #7776e5;
        border-radius: 40px;
        border: 0;

        a {
          color: #FFF;
        }
      }
    }

    img {
      width: 468px;
      height: 328px;
    }
  }

  .main-category_container {
    margin-top: 100px;
    display: flex;
    justify-content: center;

    .main-category {
      display: flex;
      justify-content: center;
      align-items: center;

      .swiper-wrapper {
        display: flex;

        .swiper-slide {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 11px;
          width: 370px;
          height: 105px;

          img {
            padding: 15px;
          }

          .about {
            font-family: Lato;

            h2 {
              font-size: 18px;
            }

            p {
              color: #7d7d83;
              font-size: 12px;
              margin: 6px 0 11px;

              span {
                font-size: 16px;
                color: #7776e5;
              }
            }
          }
        }
      }
    }
  }

  .homepage-container {
    background: #f4f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .homepage {

      h2 {
        padding: 45px 0 18px;
        font-size: 16px;
        font-family: Lato;
      }

      .row-fluid {
        display: flex;
        gap: 15px;


        .box {
          margin-top: 45px;
          background: #FFF;
          width: 230px;
          height: 340px;
          position: relative;
          display: flex;
          flex-direction: column;
          column-gap: 15px;

          img {
            margin-top: 10px;
            width: 210px;
            height: 210px;
          }


          .textContent {
            text-align: center;

            span {
              font-size: 9px;
              position: absolute;
              top: 14px;
              left: 8px;
              background: #7776e5;
              color: #FFF;
            }

            p {
              margin-top: 5px;
              font-size: 14px;
              text-wrap: wrap;
            }

            #price {
              position: absolute;
              top: 80%;
              left: 33%;
              color: #7776e5;
              border: 1px solid #7776e5;
              border-radius: 40px;
              padding: 8px;
            }
          }
        }
      }
    }
  }
}